.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap:20px;
    z-index: 0;
}


.featuredItem{
    color: yellow;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    height: 200px;
}

.featuredImage{
    object-fit: cover;
    width: 100%;
}

.featuredTitles{
    position: absolute;
    bottom: 20px;
    left: 20px;
}