.header{
    background-color: limegreen;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer{
    max-width: 100%;
    width: 1024px;
    margin: 20px 0px 100px 0px;
}

.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap:10px;
}

.headerListItem.active{
    border: 1px solid whitesmoke;
    border-radius: 20px;
    padding: 10px;
}

.headerDescription{
    margin: 20px 0px;
}

.headerButton{
    font-weight: 500;
    background-color: blue;
    color: whitesmoke;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

.headerSearch{
    height: 30px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    border: 3px solid goldenrod;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    gap: 10px;
    display: flex;
    align-items: center;
}

.headerSearchInput{
    background-color: whitesmoke;
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}